.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* header */
header {
  /* border: 2px solid red; */
  padding: 67.17px 98px 67.55px 99.12px; 
  /* margin: 0 auto; */
  
}
.div_parent {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div_logo {
  width: 30%;
}
.logo_name {
  color: #27187F;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Inter';
  /* border: 2px solid yellow; */
}

nav {
 width: 40%;
}

ul {
  display: flex;
  gap: 50px;
  
}

li {
color: #758BFD;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
cursor: pointer;
display: flex;
}

.active {
  color: #27187F;
}

.search_box {
  width: 20%;
  border: 2px solid #27187F;
  border-radius: 12px;
  display: flex;
  justify-content: flex-end;

}

/* section cards */
section {
  width: 100%;
  height: 1051px;
  margin: 0 auto;
  padding: 94px 98px 135px 98px;
  background-color: #DDEAF8;
}

.company_news {
  color: #27187F;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 68px;
}

.div_card_parent {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 51px;
  

}

.card_box {
  width: 32%;
  height: 333px;
  padding: 33px 30px;
  background-color: white;
  border-radius: 10px;
}

.card_photo {
  width: 100%;
  height: 188px;
}

.box_title {
  color:#133B3A;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-top: 33px;
}

/* footer */